
fileshare-csharp/HelloProtocolPorting/\.vs/

fileshare-csharp/HelloProtocolPorting/HelloProtocol/Properties/

fileshare-csharp/HelloProtocolPorting/HelloProtocol/bin/

fileshare-csharp/HelloProtocolPorting/HelloProtocol/obj/

fileshare-csharp/HelloProtocolPorting/HelloProtocol/App\.config

fileshare-csharp/HelloProtocolPorting/HelloProtocol/HelloProtocol\.csproj

FileShareConsole/\.vs/

FileShareConsole/FileShareConsole/bin/

FileShareConsole/FileShareConsole/obj/

FileShareConsole/FileShareConsole/FileShareConsole\.csproj

FileShareConsole/packages/

FileShareConsole/FileShareConsole/Properties/

*.config

*.sln

FileShareConsole/FileShareConsole/\.vs/

FileShareConsole/bin/

FileShareConsole/obj/

*.csproj

*.user

FileChooser/\.vs/

FileChooser/FileChooser/bin/

FileChooser/FileChooser/\.vs/

FileChooser/FileChooser/obj/

FileChooser/bin/

FileChooser/obj/

FileShare/FileShare/bin/

FileShare/FileShare/obj/
