
fileshare-csharp/HelloProtocolPorting/\.vs/

fileshare-csharp/HelloProtocolPorting/HelloProtocol/Properties/

fileshare-csharp/HelloProtocolPorting/HelloProtocol/bin/

fileshare-csharp/HelloProtocolPorting/HelloProtocol/obj/

fileshare-csharp/HelloProtocolPorting/HelloProtocol/App\.config

fileshare-csharp/HelloProtocolPorting/HelloProtocol/HelloProtocol\.csproj
